html, body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: relative;
    width: 40vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1665772504993-36dc4f952358?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80);   
}

.img-footer {
    position: absolute;
    bottom: 2%;
    left: 20%;
    color: white;
    font-size: 0.9rem;
}

a {
    color: white
}

.main-content {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 4px;
    box-sizing: border-box;
}

.para {
    font-weight: 700;
    font-size: 1.6rem;
}


header {
    font-weight: 700;
    font-size: 1.3rem;
}

fieldset {
    margin-top: 16px;
    box-shadow: 0px 2px #aaaaaa ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr, 1fr);
    padding: 4px;
    gap: 8px;
    padding-bottom: 24px;
    border: 0px;
}

label {
    font-size: 0.7rem;
}

input {
    display: block;
    border: solid black 2px;
    border-radius: 4px;
    padding: 6px;
}

input:focus {
    background-color: lightblue;
    border: solid 2px rgb(16, 223, 16);
    box-shadow: 1px 1px #aaaaaa;
}

 
#sign-up {
    background-color: rgb(61, 133, 138);
    color: white;
    font-size: 1.1rem;
    padding: 12px;
    width: fit-content;
    margin-left: 15px;
    margin-top: 12px;
    border-radius: 3px;
    border: 1px;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.main-footer {
    font-weight: 700;
}

#log-in {
    color: rgb(63, 118, 126);
    font-weight: 700;
    text-decoration: none;
}

.error>input {
    border: 2px solid rgb(255, 20, 20);
}

.error::after {
    content: "* Passwords do not match";
    font-size: 0.7rem;
    color: rgb(255, 20, 20);
}
